<launch>
  <!-- arguments -->
  <arg name="web3_http_provider" default="http://127.0.0.1:8545" />
  <arg name="web3_ws_provider" default="ws://127.0.0.1:8546" />
  <arg name="ipfs_http_provider" default="http://127.0.0.1:5001" />
  <arg name="ipfs_swarm_connect_addresses" default="" />
  <arg name="ipfs_public_providers" default="" />
  <arg name="factory_contract" default="factory.5.robonomics.eth" />
  <arg name="lighthouse_contract" default="airalab.lighthouse.5.robonomics.eth" />
  <arg name="enable_executor" default="true" />
  <arg name="master_check_interval" default='0.1' />
  <arg name="recording_topics" default="" />
  <arg name="ens_contract" default="" />
  <arg name="keyfile" default="" />
  <arg name="keyfile_password_file" default="" />

  <arg name="persistence_update_interval" default='0.1' />

  <arg name="enable_aira_graph" default="true" />
  <arg name="graph_topic" default="graph.5.robonomics.eth" />
  <arg name="lighthouse_topic" default="airalab.lighthouse.5.robonomics.eth" />

  <group ns="graph">
    <include  file="$(find aira_graph)/launch/aira_graph.launch">
          <arg name="ipfs_http_provider" value="$(arg ipfs_http_provider)" />
          <arg name="keyfile" value="$(arg keyfile)" />
          <arg name="keyfile_password_file" value="$(arg keyfile_password_file)" />
          <arg name="graph_topic" value="$(arg graph_topic)" />
          <arg name="lighthouse_topic" value="$(arg lighthouse_topic)" />
          <arg name="enable_aira_graph" value="$(arg enable_aira_graph)" />
    </include>
  </group>

  <!-- liability group -->
  <group ns="liability">
    <!-- Information channel interface -->
    <group ns="infochan">
      <include  file="$(find ipfs_common)/launch/ipfs_channel.launch">
        <arg name="lighthouse_contract" value="$(arg lighthouse_contract)" />
        <arg name="ipfs_http_provider" value="$(arg ipfs_http_provider)" />
        <arg name="ipfs_public_providers" value="$(arg ipfs_public_providers)"/>
        <arg name="ipfs_swarm_connect_addresses" value="$(arg ipfs_swarm_connect_addresses)" />
      </include>

      <!-- message signer interface -->
      <include file="$(find ethereum_common)/launch/signer.launch">
        <arg name="keyfile" value="$(arg keyfile)" />
        <arg name="keyfile_password_file" value="$(arg keyfile_password_file)" />

        <arg name="factory_contract" value="$(arg factory_contract)" />
        <arg name="web3_http_provider" value="$(arg web3_http_provider)" />
        <arg name="ens_contract" value="$(arg ens_contract)" />
      </include>
    </group>

    <node pkg="robonomics_liability" type="listener_node" name="listener" respawn="true" output="screen">
      <param name="ipfs_http_provider" value="$(arg ipfs_http_provider)" />
      <param name="liability_contract_abi" textfile="$(find robonomics_liability)/abi/liability.json" />
      <param name="factory_contract_abi" textfile="$(find robonomics_liability)/abi/factory.json" />
      <param name="factory_contract" value="$(arg factory_contract)" />
      <param name="web3_http_provider" value="$(arg web3_http_provider)" />
      <param name="web3_ws_provider" value="$(arg web3_ws_provider)" />
      <param name="ens_contract" value="$(arg ens_contract)"
             if="$(eval len(arg('ens_contract')) > 0)"/>
    </node>

    <node pkg="robonomics_liability" type="executor_node" name="executor" respawn="true" output="screen" if="$(arg enable_executor)">
      <param name="ipfs_http_provider" value="$(arg ipfs_http_provider)" />
      <param name="recording_topics" value="$(arg recording_topics)" />
      <param name="master_check_interval" value="$(arg master_check_interval)" />
      <param name="keyfile" value="$(arg keyfile)" />
      <param name="keyfile_password_file" value="$(arg keyfile_password_file)" />
    </node>

    <node pkg="robonomics_liability" type="persistence_node" name="persistence" respawn="true" output="screen">
      <param name="persistence_update_interval" value="$(arg persistence_update_interval)" />
    </node>

    <node pkg="robonomics_liability" type="player_service_node" name="player_service" respawn="true" output="screen">
      <param name="ipfs_http_provider" value="$(arg ipfs_http_provider)" />
      <param name="recording_topics" value="$(arg recording_topics)" />
      <param name="master_check_interval" value="$(arg master_check_interval)" />
    </node>

  </group>
</launch>
