<launch>
  <!-- arguments -->
  <arg name="web3_http_provider" default="http://localhost:8545" />
  <arg name="market_topic" default="aira_market" />
  <arg name="enable_generator" default="true" />
  <arg name="enable_signer" default="true" />

  <!-- market group -->
  <group ns="market">
    <node pkg="robonomics_market" type="market_node" name="market">
      <param name="market_topic" value="$(arg market_topic)" />
    </node>

    <node pkg="robonomics_market" type="signer_node" name="signer" if="$(arg enable_signer)">
      <param name="web3_http_provider" value="$(arg web3_http_provider)" />
    </node>

    <node pkg="robonomics_market" type="generator_node" name="generator" if="$(arg enable_generator)" />
  </group>
</launch>
